/* Don't change the existing CSS. */

.box {
  background-color: rgb(0, 0, 255);
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text{
  color: white;
}

.inner-box{
  background-color: firebricks;
}

#outer-box{
  border: 10px solid purple;
}